* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

/* header related styles */
.heading-banner-container {
  width: 100%;
  height: 800px;
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  justify-content: end;
  align-items: center;
}
.heading-banner-content {
  margin: 0 30px;
  text-align: right;
}

.banner-titile {
  color: #151414;
  font-size: 65px;
  font-weight: 700;
}

.banner-desc {
  margin: 25px 0;
}

.btn-primary {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #f15b22;
  color: aliceblue;
}

/* main section styles */
main {
  margin-top: 100px;
}

.failure-banner {
  max-width: 100%;
}

.person-png {
  width: 500px;
}

.failure-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.failure-content {
  width: 40%;
}
.failure-content ul > li {
  list-style: square;
  margin-left: 30px;
}

/* my plans section styles */
.my-plan {
  margin-top: 70px;
}

.my-plan-title {
  text-align: center;
}

.want-to-container div > h3 {
  margin: 18px 0;
}
.want-to-container div > p {
  color: #737272;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
}

.want-to-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.want-to-container > div {
  text-align: center;
}

/* mindset section styles */
.mindset {
  margin: 200px;
}

.mindset-container {
  max-width: 1000px;
  height: 300px;
  margin: 0 auto;
  background-image: url("../images/watch.png"),
    linear-gradient(90deg, #c0582eb9 0%, rgba(241, 91, 34, 0) 100%);
  background-size: cover;
  background-blend-mode: overlay;
  border-radius: 8px;
}

.mindset-title {
  margin: 25px 0;
  color: aliceblue;
  padding-top: 50px;
  padding-left: 50px;

}

.mindset-button{
    padding-left: 50px;
}
